
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pane-wrapper clearfix">

    <div id="main-content">
        <div class="wpv-main layout-full" id="main" role="main">

            <div class="row page-wrapper container">
                <div class="boxed-layout">
                    <div class="pane-wrapper clearfix">
                        <div id="main-content" style="margin-bottom: 397px;">
                            <div id="sub-header" class="layout-full has-background">
                                <div class="meta-header" style="background-color:#ffffff;background-image:none;">
                                    <div class="limit-wrapper">
                                        <div class="meta-header-inside">
                                            <header class="page-header layout-centered  ">
                                                <h1 style="" itemprop="headline text-divider-double">
                                                    Hizmetlerimiz
                                                </h1>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="main" role="main" class="wpv-main layout-full  ">
                                <div class="row page-wrapper">
                                    <article id="post-7956" class="full post-7956 page type-page status-publish hentry">
                                        <div class="page-content">
                                            <div class="row ">
                                                <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first extended-content unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-36d05c238f0bb5a9eb901638b875a6c2">
                                                    <div class="extended-column-inner">
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 40px; min-height: 494px;" id="wpv-column-763aaac4106e02b3247bbde77fd7e75d">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-3741e3b65f78480e8ec42557bace70a3">
                                                                        <h2 class="text-divider-double">
                                                                            &nbsp;Sac Kesimi &amp; Fön
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-3278b6f803fb475426321d3e6923e4ab">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div>
                                                                        <p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 has-background unextended no-extended-padding" style="background: url(Content/img/service/service-photo-1.jpg) 0% 0% / cover scroll rgb(121, 112, 103); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f">

                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first has-background unextended   no-extended-padding " style="background: url(Content/img/service/service-photo-2.jpg) 0% 0% / cover scroll rgb(12, 20, 42); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-4196a9daaf56df79630dd15b12a87275">

                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-62005b0c63ad01197381c9491c5c8198">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-fe590f007aecad0a5efed4f544061f02">
                                                                        <h2 class="text-divider-double">
                                                                            Boya
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-1cd7880152fc74a548f873416b10d64e">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                                <div class="push  wpv-hide-lowres" style="height:40px"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 40px; min-height: 494px;" id="wpv-column-ec9d50f2ac6d5cb38e8c37e17b4b709e">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-19d400c5db9da098d09e47008bbbd554">
                                                                        <h2 class="text-divider-double">
                                                                            Manikür
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-3a854550cb452374bbf057d0057c4d8c">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 has-background unextended " style="background: url(Content/img/service/service-photo-3.jpg) 0% 0% / cover scroll rgb(14, 10, 10); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-246e9134ad3b51b4c5ad1319124d883e">

                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first has-background unextended   no-extended-padding " style="background: url(Content/img/service/service-photo-4.jpg) 0% 0% / cover scroll rgb(206, 217, 217); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-d111a49e56953bb226e5d48933e5392a">

                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-5d5f3780f4e3ffbbb3e78720693760ce">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-8eaa86eddf139a72e4b53ac85a4e8081">
                                                                        <h2 class="text-divider-double">
                                                                            Pedikür
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-502a4430960f93cfdcedef668a693623">
                                                                        <p style="text-align: center;" class="slideInUp">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                                <div class="push  wpv-hide-lowres" style="height:40px"></div>
                                                            </div>
                                                        </div>

                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2 add-border grid-1-2 first unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 40px; min-height: 495px;" id="wpv-column-5e6f3e11d868da2e8ad5c13b5551ca11">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-dc0ed0d4f3d77975e2634369fbe8f83b">
                                                                        <h2 class="text-divider-double">
                                                                            Kaş Konturu
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-4279029322c2c2845de15f8a39018598">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                            </div>


                                                            <div class="wpv-grid grid-1-2  grid-1-2 has-background unextended   no-extended-padding " style="background: url(Content/img/service/service-photo-5.jpg) 0% 0% / cover scroll rgb(57, 57, 57); padding-top: 400px; padding-bottom: 0.05px; min-height: 495px;" id="wpv-column-bbc4f9eafd760c7a9926c93263f73ab7">

                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">

                                                            <div class="wpv-grid grid-1-2  grid-1-2 has-background unextended   no-extended-padding " style="background: url(Content/img/service/service-photo-6.jpg) 0% 0% / cover scroll rgb(57, 57, 57); padding-top: 400px; padding-bottom: 0.05px; min-height: 495px;" id="wpv-column-bbc4f9eafd760c7a9926c93263f73ab7">

                                                            </div>
                                                            <div class="wpv-grid grid-1-2 add-border grid-1-2 first unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 40px; min-height: 495px;" id="wpv-column-5e6f3e11d868da2e8ad5c13b5551ca11">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-dc0ed0d4f3d77975e2634369fbe8f83b">
                                                                        <h2 class="text-divider-double">
                                                                            Ağda
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended   no-extended-padding " style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-4279029322c2c2845de15f8a39018598">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                
                                                    </div>
                                                </div>
                                            </div>

                                    </article>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </div>

    </div>

</div>
