
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pane-wrapper clearfix">

    <div id="main-content">
        <div class="wpv-main layout-full" id="main" role="main">

            <div class="row page-wrapper container">
                <div class="boxed-layout">
                    <div class="pane-wrapper clearfix">
                        <div id="main-content" style="margin-bottom: 397px;">
                            <div id="sub-header" class="layout-full has-background">
                                <div class="meta-header" style="background-color:#ffffff;background-image:none;">
                                    <div class="limit-wrapper">
                                        <div class="meta-header-inside">
                                            <header class="page-header layout-centered  ">
                                                <h1 style="" itemprop="headline">
                                                    Hizmetlerimiz
                                                </h1>
                                            </header>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="main" role="main" class="wpv-main layout-full  ">
                                <div class="row page-wrapper">
                                    <article id="post-7956" class="full post-7956 page type-page status-publish hentry">
                                        <div class="page-content">
                                            <div class="row ">
                                                <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first extended-content unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-36d05c238f0bb5a9eb901638b875a6c2">
                                                    <div class="extended-column-inner">
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 40px; min-height: 494px;" id="wpv-column-763aaac4106e02b3247bbde77fd7e75d">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-3741e3b65f78480e8ec42557bace70a3">
                                                                        <h2 class="text-divider-double">
                                                                            <span class="icon shortcode theme  use-hover" style="color:#b69e59;font-size:70px !important;"></span> &nbsp;Sac Kesimi &amp; Fön
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-3278b6f803fb475426321d3e6923e4ab">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div>
                                                                        <p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 has-background unextended no-extended-padding" style="background: url(Content/img/service/service-photo-1.jpg) 0% 0% / cover scroll rgb(121, 112, 103); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f">
                                                                <style>
                                                                    #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f p, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f em, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h1, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h2, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h3, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h4, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h5, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h6, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h1 a:not(:hover), #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h2 a:not(:hover), #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h3 a:not(:hover), #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h4 a:not(:hover), #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h5 a:not(:hover), #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f h6 a:not(:hover), #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .column-title, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .sep-text h2.regular-title-wrapper, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .text-divider-double, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .sep-text .sep-text-line, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .sep, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .sep-2, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .sep-3, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .portfolio-filters .inner-wrapper .cbp-filter-item, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .portfolio-filters .inner-wrapper .cbp-filter-item:hover, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f .portfolio-filters .inner-wrapper .cbp-filter-item.cbp-filter-item-active, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f td, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f th, #wpv-column-e1a9587e69d1fb288af6bb25b1a4fb0f caption {
                                                                        color: #fff;
                                                                    }
                                                                </style>
                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first has-background unextended animation-fade-in animated-active no-extended-padding animation-ended" style="background: url(Content/img/service/service-photo-2.jpg) 0% 0% / cover scroll rgb(12, 20, 42); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-4196a9daaf56df79630dd15b12a87275">
                                                                <style>
                                                                    #wpv-column-4196a9daaf56df79630dd15b12a87275, #wpv-column-4196a9daaf56df79630dd15b12a87275 p, #wpv-column-4196a9daaf56df79630dd15b12a87275 em, #wpv-column-4196a9daaf56df79630dd15b12a87275 h1, #wpv-column-4196a9daaf56df79630dd15b12a87275 h2, #wpv-column-4196a9daaf56df79630dd15b12a87275 h3, #wpv-column-4196a9daaf56df79630dd15b12a87275 h4, #wpv-column-4196a9daaf56df79630dd15b12a87275 h5, #wpv-column-4196a9daaf56df79630dd15b12a87275 h6, #wpv-column-4196a9daaf56df79630dd15b12a87275 h1 a:not(:hover), #wpv-column-4196a9daaf56df79630dd15b12a87275 h2 a:not(:hover), #wpv-column-4196a9daaf56df79630dd15b12a87275 h3 a:not(:hover), #wpv-column-4196a9daaf56df79630dd15b12a87275 h4 a:not(:hover), #wpv-column-4196a9daaf56df79630dd15b12a87275 h5 a:not(:hover), #wpv-column-4196a9daaf56df79630dd15b12a87275 h6 a:not(:hover), #wpv-column-4196a9daaf56df79630dd15b12a87275 .column-title, #wpv-column-4196a9daaf56df79630dd15b12a87275 .sep-text h2.regular-title-wrapper, #wpv-column-4196a9daaf56df79630dd15b12a87275 .text-divider-double, #wpv-column-4196a9daaf56df79630dd15b12a87275 .sep-text .sep-text-line, #wpv-column-4196a9daaf56df79630dd15b12a87275 .sep, #wpv-column-4196a9daaf56df79630dd15b12a87275 .sep-2, #wpv-column-4196a9daaf56df79630dd15b12a87275 .sep-3, #wpv-column-4196a9daaf56df79630dd15b12a87275 .portfolio-filters .inner-wrapper .cbp-filter-item, #wpv-column-4196a9daaf56df79630dd15b12a87275 .portfolio-filters .inner-wrapper .cbp-filter-item:hover, #wpv-column-4196a9daaf56df79630dd15b12a87275 .portfolio-filters .inner-wrapper .cbp-filter-item.cbp-filter-item-active, #wpv-column-4196a9daaf56df79630dd15b12a87275 td, #wpv-column-4196a9daaf56df79630dd15b12a87275 th, #wpv-column-4196a9daaf56df79630dd15b12a87275 caption {
                                                                        color: #e6e6e8;
                                                                    }
                                                                </style>
                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-62005b0c63ad01197381c9491c5c8198">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-fe590f007aecad0a5efed4f544061f02">
                                                                        <h2 class="text-divider-double">
                                                                            <span class="icon shortcode theme  use-hover" style="color:#b69e59;font-size:70px !important;"></span> Boya
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-1cd7880152fc74a548f873416b10d64e">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                                <div class="push  wpv-hide-lowres" style="height:40px"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 40px; min-height: 494px;" id="wpv-column-ec9d50f2ac6d5cb38e8c37e17b4b709e">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-19d400c5db9da098d09e47008bbbd554">
                                                                        <h2 class="text-divider-double">
                                                                            <span class="icon shortcode theme  use-hover" style="color:#b69e59;font-size:70px !important;"></span> Manikür
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-3a854550cb452374bbf057d0057c4d8c">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 has-background unextended animation-fade-in animated-active no-extended-padding animation-ended" style="background: url(Content/img/service/service-photo-3.jpg) 0% 0% / cover scroll rgb(14, 10, 10); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-246e9134ad3b51b4c5ad1319124d883e">
                                                                <style>
                                                                    #wpv-column-246e9134ad3b51b4c5ad1319124d883e, #wpv-column-246e9134ad3b51b4c5ad1319124d883e p, #wpv-column-246e9134ad3b51b4c5ad1319124d883e em, #wpv-column-246e9134ad3b51b4c5ad1319124d883e h1, #wpv-column-246e9134ad3b51b4c5ad1319124d883e h2, #wpv-column-246e9134ad3b51b4c5ad1319124d883e h3, #wpv-column-246e9134ad3b51b4c5ad1319124d883e h4, #wpv-column-246e9134ad3b51b4c5ad1319124d883e h5, #wpv-column-246e9134ad3b51b4c5ad1319124d883e h6, #wpv-column-246e9134ad3b51b4c5ad1319124d883e h1 a:not(:hover), #wpv-column-246e9134ad3b51b4c5ad1319124d883e h2 a:not(:hover), #wpv-column-246e9134ad3b51b4c5ad1319124d883e h3 a:not(:hover), #wpv-column-246e9134ad3b51b4c5ad1319124d883e h4 a:not(:hover), #wpv-column-246e9134ad3b51b4c5ad1319124d883e h5 a:not(:hover), #wpv-column-246e9134ad3b51b4c5ad1319124d883e h6 a:not(:hover), #wpv-column-246e9134ad3b51b4c5ad1319124d883e .column-title, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .sep-text h2.regular-title-wrapper, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .text-divider-double, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .sep-text .sep-text-line, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .sep, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .sep-2, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .sep-3, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .portfolio-filters .inner-wrapper .cbp-filter-item, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .portfolio-filters .inner-wrapper .cbp-filter-item:hover, #wpv-column-246e9134ad3b51b4c5ad1319124d883e .portfolio-filters .inner-wrapper .cbp-filter-item.cbp-filter-item-active, #wpv-column-246e9134ad3b51b4c5ad1319124d883e td, #wpv-column-246e9134ad3b51b4c5ad1319124d883e th, #wpv-column-246e9134ad3b51b4c5ad1319124d883e caption {
                                                                        color: #d8d8d8;
                                                                    }
                                                                </style>
                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2  grid-1-2 first has-background unextended animation-fade-in animated-active no-extended-padding animation-ended" style="background: url(Content/img/service/service-photo-4.jpg) 0% 0% / cover scroll rgb(206, 217, 217); padding-top: 400px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-d111a49e56953bb226e5d48933e5392a">
                                                                <style>
                                                                    #wpv-column-d111a49e56953bb226e5d48933e5392a, #wpv-column-d111a49e56953bb226e5d48933e5392a p, #wpv-column-d111a49e56953bb226e5d48933e5392a em, #wpv-column-d111a49e56953bb226e5d48933e5392a h1, #wpv-column-d111a49e56953bb226e5d48933e5392a h2, #wpv-column-d111a49e56953bb226e5d48933e5392a h3, #wpv-column-d111a49e56953bb226e5d48933e5392a h4, #wpv-column-d111a49e56953bb226e5d48933e5392a h5, #wpv-column-d111a49e56953bb226e5d48933e5392a h6, #wpv-column-d111a49e56953bb226e5d48933e5392a h1 a:not(:hover), #wpv-column-d111a49e56953bb226e5d48933e5392a h2 a:not(:hover), #wpv-column-d111a49e56953bb226e5d48933e5392a h3 a:not(:hover), #wpv-column-d111a49e56953bb226e5d48933e5392a h4 a:not(:hover), #wpv-column-d111a49e56953bb226e5d48933e5392a h5 a:not(:hover), #wpv-column-d111a49e56953bb226e5d48933e5392a h6 a:not(:hover), #wpv-column-d111a49e56953bb226e5d48933e5392a .column-title, #wpv-column-d111a49e56953bb226e5d48933e5392a .sep-text h2.regular-title-wrapper, #wpv-column-d111a49e56953bb226e5d48933e5392a .text-divider-double, #wpv-column-d111a49e56953bb226e5d48933e5392a .sep-text .sep-text-line, #wpv-column-d111a49e56953bb226e5d48933e5392a .sep, #wpv-column-d111a49e56953bb226e5d48933e5392a .sep-2, #wpv-column-d111a49e56953bb226e5d48933e5392a .sep-3, #wpv-column-d111a49e56953bb226e5d48933e5392a .portfolio-filters .inner-wrapper .cbp-filter-item, #wpv-column-d111a49e56953bb226e5d48933e5392a .portfolio-filters .inner-wrapper .cbp-filter-item:hover, #wpv-column-d111a49e56953bb226e5d48933e5392a .portfolio-filters .inner-wrapper .cbp-filter-item.cbp-filter-item-active, #wpv-column-d111a49e56953bb226e5d48933e5392a td, #wpv-column-d111a49e56953bb226e5d48933e5392a th, #wpv-column-d111a49e56953bb226e5d48933e5392a caption {
                                                                        color: #070707;
                                                                    }
                                                                </style>
                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 0.05px; min-height: 494px;" id="wpv-column-5d5f3780f4e3ffbbb3e78720693760ce">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-8eaa86eddf139a72e4b53ac85a4e8081">
                                                                        <h2 class="text-divider-double">
                                                                            <span class="icon shortcode theme  use-hover" style="color:#b69e59;font-size:70px !important;"></span> Pedikür
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-502a4430960f93cfdcedef668a693623">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                                <div class="push  wpv-hide-lowres" style="height:40px"></div>
                                                            </div>
                                                        </div>
                                                        <div class="row  has-nomargin-column">
                                                            <div class="wpv-grid grid-1-2 add-border grid-1-2 first unextended no-extended-padding" style="padding-top: 20px; padding-bottom: 40px; min-height: 495px;" id="wpv-column-5e6f3e11d868da2e8ad5c13b5551ca11">
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-dc0ed0d4f3d77975e2634369fbe8f83b">
                                                                        <h2 class="text-divider-double">
                                                                            <span class="icon shortcode theme  use-hover" style="color:#b69e59;font-size:70px !important;"></span> Manikür &amp; Pedikür
                                                                        </h2> <div class="sep"></div>
                                                                    </div>
                                                                </div>
                                                                <div class="row ">
                                                                    <div class="wpv-grid grid-1-1  grid-1-1 first unextended animation-from-bottom animated-active no-extended-padding animation-ended" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-4279029322c2c2845de15f8a39018598">
                                                                        <p style="text-align: center;">
                                                                            This improvement upon the original usage was introduced by no less a man than<br>
                                                                            Stubb, in order to afford the imperilled harpooneer the strongest possible<br>
                                                                            guarantee for the faithfulness and vigilance of his monkey-rope holder.<br>
                                                                        </p><div class="push  wpv-hide-lowres" style="height:15px"></div><p class="textcenter"><a href="/services/hair-cut-hairdryer/" target="_self" style="font-size: 12px;" class="vamtam-button accent1  button-border hover-accent6 "></a></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-2  grid-1-2 has-background unextended animation-fade-in animated-active no-extended-padding animation-ended" style="background: url(Content/img/service/service-photo-5.jpg) 0% 0% / cover scroll rgb(57, 57, 57); padding-top: 400px; padding-bottom: 0.05px; min-height: 495px;" id="wpv-column-bbc4f9eafd760c7a9926c93263f73ab7">
                                                                <style>
                                                                    #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 p, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 em, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h1, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h2, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h3, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h4, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h5, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h6, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h1 a:not(:hover), #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h2 a:not(:hover), #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h3 a:not(:hover), #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h4 a:not(:hover), #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h5 a:not(:hover), #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 h6 a:not(:hover), #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .column-title, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .sep-text h2.regular-title-wrapper, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .text-divider-double, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .sep-text .sep-text-line, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .sep, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .sep-2, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .sep-3, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .portfolio-filters .inner-wrapper .cbp-filter-item, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .portfolio-filters .inner-wrapper .cbp-filter-item:hover, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 .portfolio-filters .inner-wrapper .cbp-filter-item.cbp-filter-item-active, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 td, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 th, #wpv-column-bbc4f9eafd760c7a9926c93263f73ab7 caption {
                                                                        color: #fff;
                                                                    }
                                                                </style>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                    </article>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>



            </div>

        </div>

    </div>

</div>
