
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="pane-wrapper clearfix">

    <div id="main-content">
        <div class="wpv-main layout-full" id="main" role="main">

            <div class="row page-wrapper container">


            </div>

        </div>

    </div>

</div>
