<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

    <meta charset="UTF-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="pingback" href="https://hair-beauty.vamtam.com/xmlrpc.php" />


    <link href="~/Content/css/layout.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link rel="canonical" href="https://hair-beauty.vamtam.com/" />

    <link rel="alternate" type="application/rss+xml" title="Hair Beauty &amp; Barber Theme &raquo; Feed" href="https://hair-beauty.vamtam.com/feed/" />
    <link rel="alternate" type="application/rss+xml" title="Hair Beauty &amp; Barber Theme &raquo; Comments Feed" href="https://hair-beauty.vamtam.com/comments/feed/" />
    <link rel='stylesheet' id='booked-tooltipster-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/booked/js/tooltipster/css/tooltipster.css' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-tooltipster-theme-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/booked/js/tooltipster/css/themes/tooltipster-light.css' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-animations-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/booked/css/animations.css' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-styles-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/booked/css/styles.css' type='text/css' media='all' />
    <link rel='stylesheet' id='booked-responsive-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/booked/css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' id='sb_instagram_styles-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/instagram-feed/css/sb-instagram.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/revslider/public/assets/css/settings.css' type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        #rs-demo-id {
        }
    </style>
    <link rel='stylesheet' id='megamenu-css' href='https://hair-beauty.vamtam.com/wp-content/uploads/maxmegamenu/style.css' type='text/css' media='all' />
    <link rel='stylesheet' id='dashicons-css' href='https://hair-beauty.vamtam.com/wp-includes/css/dashicons.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='vamtam-style-switcher-css' href='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/style_switcher/switcher.css' type='text/css' media='all' />


    <link href="~/Content/css/all.css" rel="stylesheet" />
    <link rel='stylesheet' id='cubeportfolio-css' href='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/vamtam/assets/cubeportfolio/css/cubeportfolio.min.css' type='text/css' media='all' />
    <link rel='stylesheet' id='sharedaddy-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/jetpack/modules/sharedaddy/sharing.css' type='text/css' media='all' />
    <link rel='stylesheet' id='social-logos-css' href='https://hair-beauty.vamtam.com/wp-content/plugins/jetpack/_inc/social-logos/social-logos.min.css' type='text/css' media='all' />
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/jquery/jquery.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/jquery/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='//use.fontawesome.com/fcc8474e79.js'></script>
    <link rel='https://api.w.org/' href='https://hair-beauty.vamtam.com/wp-json/' />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://hair-beauty.vamtam.com/xmlrpc.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="https://hair-beauty.vamtam.com/wp-includes/wlwmanifest.xml" />
    <link rel='shortlink' href='https://hair-beauty.vamtam.com/' />
    <link rel="alternate" type="application/json+oembed" href="https://hair-beauty.vamtam.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fhair-beauty.vamtam.com%2F" />
    <link rel="alternate" type="text/xml+oembed" href="https://hair-beauty.vamtam.com/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fhair-beauty.vamtam.com%2F&#038;format=xml" />



    <meta name="twitter:card" content="summary" />
    <meta name="twitter:description" content="Visit the post for more." />
    <link rel="icon" href="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/logo-symbol-43x43.png" sizes="32x32" />
    <link rel="icon" href="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/logo-symbol.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/logo-symbol.png" />
    <meta name="msapplication-TileImage" content="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/logo-symbol.png" />
    <style id="custom-css-css"></style>
</head>

<body class="home page page-id-10332 page-child parent-pageid-11 page-template-default mega-menu-one-page-menu mega-menu-menu-header full header-layout-logo-menu pagination-load-more page-vertical-padding-none sticky-header-type-normal wpv-not-scrolled no-page-header has-header-slider no-header-sidebars responsive-layout sticky-header sticky-footer layout-full">
    <span id="top"></span>

    <div class="wpv-splash-screen">
        <div class="wpv-splash-screen-progress-wrapper">
            <div class="wpv-splash-screen-progress"></div>
        </div>
    </div> <div id="page" class="main-container">
        <div class="fixed-header-box sticky-header-state-reset">
            <header class="main-header layout-logo-menu header-content-wrapper">
                <div id="top-nav-wrapper" style="background-color:#1e2022;background-image:none;">
                    <nav class="top-nav social-text">
                        <div class=" header-maybe-limit-wrapper top-nav-inner header-padding">
                            <div class="row">
                                <div class="row ">
                                    <div class="grid-1-2 lowres-width-override lowres-grid-1-2" id="top-nav-social">
                                        <a href="https://www.facebook.com/saloncimbiz2/" target="_blank"><span class='icon shortcode theme  use-hover' style=''><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                        <a href="https://www.instagram.com/saloncmbz2/" target="_blank"><span class='icon shortcode   use-hover' style=''><i class="fa fa-instagram" aria-hidden="true"></i></span></a>

                                    </div>
                                    <div class="grid-1-2 lowres-width-override lowres-grid-1-2" id="top-nav-text">
                                        SALI HARIC HER GUN     <a href="#">8.00 - 21.00</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class=" header-maybe-limit-wrapper header-padding">
                    <div class="header-contents">
                        <div class="first-row">
                            <div class="logo-wrapper">
                                <div class="logo-tagline">
                                    <a href="home" title="Hair Beauty &amp; Barber Theme" class="logo " style="min-width:121px">
                                        <img src="https://hair-beauty.vamtam.com/wp-content/uploads/2015/12/logo.png" alt="Hair Beauty &amp; Barber Theme" class="normal-logo" width="121" height="21" style="max-height: 21px;" />
                                        <img src="https://hair-beauty.vamtam.com/wp-content/uploads/2015/12/logo-trans.png" alt="Hair Beauty &amp; Barber Theme" class="alternative-logo" width="121" height="21" style="max-height: 21px;" />
                                    </a>
                                </div>
                                <div class="mobile-logo-additions">
                                </div>
                            </div>
                        </div>
                        <div class="second-row has-search">
                            <div id="menus">
                                <nav id="main-menu">

                                    <div id="mega-menu-wrap-menu-header" class="mega-menu-wrap">
                                        <div class="mega-menu-toggle"><div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right mega-toggle-block-1' id='mega-toggle-block-1'></div></div><ul id="mega-menu-menu-header" class="mega-menu">

                                            <li class="mega-menu-item" id='mega-menu-item-9643'>
                                                <a class="mega-menu-link" href="home">
                                                    Anasayfa
                                                </a>
                                            </li>
                                            <li class="mega-menu-item">
                                                <a class="mega-menu-link" href="galeri">
                                                    GALERI
                                                </a>
                                            </li>
                                            <li class="mega-menu-item" id='mega-menu-item-9643'>
                                                <a class="mega-menu-link" href="hizmetler">
                                                    hizmetlerimiz
                                                </a>
                                            </li>
                                            <li class="mega-menu-item" id='mega-menu-item-9643'>
                                                <a class="mega-menu-link" href="iletisim">
                                                    Iletisim
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>



                    </div>
                </div>
            </header>
        </div>



        @RenderBody()


        <div class="footer-wrapper">
            <footer class="main-footer wpv-hide-bg-lowres" style="background-color:#212529;background-image:none;">
                <div class="footer-sidebars-wrapper limit-wrapper">
                    <div id="footer-sidebars">
                        <div class="row">
                            <aside class="cell-1-3 fit" data-id="6">
                                <section id="text-15" class="widget widget_text">
                                    <h4 class="widget-title">SABIT NUMARAMIZ</h4> <div class="textwidget">
                                        <p>
                                            <i class="fa fa-phone"></i> <a href="tel:02163687817">0216 368 78 17 </a><br />Her turlu soru gorus ve oneriniz icin </br> cekinmeden arayiniz <br />
                                        </p>
                                    </div>
                                </section>
                            </aside>
                            <aside class="cell-1-3 fit" data-id="7">
                                <section id="text-21" class="widget widget_text">
                                    <h4 class="widget-title">CEP NUMARALARIMIZ</h4> <div class="textwidget">
                                        <p>
                                            Maltepe, ISTANBUL <br />
                                            <i class="fa fa-phone"></i> <a href="tel:05357716349">0535 771 63 49</a><br />
                                            <i class="fa fa-phone"></i>		<a href="tel:05357716349">0532 054 07 53</a>
                                            <br />
                                        </p>
                                    </div>
                                </section>
                            </aside>
                            <aside class="cell-1-3 fit" data-id="8">
                                <section id="text-22" class="widget widget_text">
                                    <h4 class="widget-title">SOSYAL MEDYA</h4> <div class="textwidget">
                                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-10372" method="post" data-id="10372" data-name="Subscribe for news">
                                            <div class="mc4wp-form-fields">
                                                <a href="/#email-offers-form" style="display:none" class="wpv-animated-page-scroll" title=""></a>
                                                <div class="email-offers" id="email-offers-form">

                                                </div>
                                                <div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></div><input type="hidden" name="_mc4wp_timestamp" value="1480326282" /><input type="hidden" name="_mc4wp_form_id" value="10372" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                            </div><div class="mc4wp-response"></div>
                                        </form>
                                        <a href="https://www.facebook.com/saloncimbiz2/ target=" _blank""><span class='icon shortcode  border use-hover' style='color:#b69e59;border-color:#b69e59;font-size:18px !important;'><i class="fa fa-facebook"></i></span></a>  <a href="https://www.instagram.com/saloncmbz2/" target="_blank"><span class='icon shortcode theme border use-hover' style='color:#b69e59;border-color:#b69e59;font-size:18px !important;'><i class="fa fa-instagram"></i></span></a>
                                    </div>
                                </section>
                            </aside>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="wpv-subfooter copyrights wpv-hide-bg-lowres" style="background-color:#ffffff;background-image:none;">
                <div class="">
                    <div class="row">
                        <div class="wpv-grid grid-1-3">© 2016 <a href="https://saloncimbiz2.com/">Cimbiz Kuafor Guzellik Salonu 2</a> Her hakki saklidir </div>
                        <div class="wpv-grid grid-1-3 textcenter"></div>
                        <div class="wpv-grid grid-1-3 textright">Site tasarim programlama <a href="https://erdalugur.com/" target="">UGURERDAL</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script>WPV_HIDDEN_WIDGETS = ["text-18", "text-13", "text-20", "text-24"];</script>




    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/plugins/booked/js/functions.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/vamtam/assets/js/modernizr.min.js'></script>

    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/plugins/instagram-feed/js/sb-instagram.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min.js' defer='defer'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min.js' defer='defer'></script>

    <script type='text/javascript' src='//hair-beauty.vamtam.com/wp-content/plugins/woocommerce/assets/js/frontend/add-to-cart.min.js'></script>
    <script type='text/javascript' src='//hair-beauty.vamtam.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js'></script>


    <script type='text/javascript' src='//hair-beauty.vamtam.com/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/jquery/ui/widget.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/underscore.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/vamtam/assets/js/plugins/thirdparty/jquery.matchheight.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var WPV_FRONT = { "content_width": "1140", "ajaxurl": "https:\/\/hair-beauty.vamtam.com\/wp-admin\/admin-ajax.php", "jspath": "https:\/\/hair-beauty.vamtam.com\/wp-content\/themes\/hair-beauty\/vamtam\/assets\/js\/" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/vamtam/assets/js/all.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var wc_cart_fragments_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%", "fragment_name": "wc_fragments" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='//hair-beauty.vamtam.com/wp-content/plugins/woocommerce/assets/js/frontend/cart-fragments.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/vamtam/assets/cubeportfolio/js/jquery.cubeportfolio.min.js'></script>

    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/hoverIntent.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var megamenu = { "timeout": "300", "interval": "100" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/plugins/megamenu/js/maxmegamenu.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/wp-embed.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var mc4wp_forms_config = [];
        /* ]]> */
    </script>
    <script src="~/Content/js/all.js"></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/plugins/mailchimp-for-wp/assets/js/forms-api.min.js'></script>



</body>

</html>
