<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <meta name="viewport" content="width=device-width, initial-scale=1">



    <link rel="canonical" href="Content/themes/base/jquery-ui.min.js" />
    <link rel='dns-prefetch' href='Content/font-awesome.min.css' />
    <link rel='dns-prefetch' href='Content/bootstrap.min.css' />
    <link href="~/Content/css/custom.css" rel="stylesheet" />
    <link href="~/Content/css/settings.css" rel="stylesheet" />
    <link href="~/Content/css/all.css" rel="stylesheet" />




    <link href="~/Content/css/megamenu.css" rel="stylesheet" />

    <link href="~/Content/css/cubeportfilio.css" rel="stylesheet" />
    <script src="~/Content/js/jqu.js"></script>

    <script type='text/javascript' src='//use.fontawesome.com/fcc8474e79.js'></script>

    <style id="custom-css-css"></style>

</head>
<body class="home page page-id-10332 page-child parent-pageid-11 page-template-default mega-menu-one-page-menu mega-menu-menu-header full header-layout-logo-menu pagination-load-more page-vertical-padding-none sticky-header-type-normal wpv-not-scrolled no-page-header has-header-slider no-header-sidebars responsive-layout sticky-header sticky-footer layout-full">
    <span id="top"></span>
    <div class="wpv-splash-screen">
        <div class="wpv-splash-screen-progress-wrapper">
            <div class="wpv-splash-screen-progress"></div>
        </div>
    </div> <div id="page" class="main-container">
        <div class="fixed-header-box sticky-header-state-reset">
            <header class="main-header layout-logo-menu header-content-wrapper">
                <div id="top-nav-wrapper" style="background-color:#1e2022;background-image:none;">
                    <nav class="top-nav social-text">
                        <div class=" header-maybe-limit-wrapper top-nav-inner header-padding">
                            <div class="row">
                                <div class="row ">
                                    <div class="grid-1-2 lowres-width-override lowres-grid-1-2" id="top-nav-social">
                                        <a href="#" target="_blank"><span class='icon shortcode theme  use-hover' style=''><i class="fa fa-facebook" aria-hidden="true"></i></span></a>
                                        <a href="#" target="_blank"><span class='icon shortcode   use-hover' style=''><i class="fa fa-instagram" aria-hidden="true"></i></span></a>
                                    </div>
                                    <div class="grid-1-2 lowres-width-override lowres-grid-1-2" id="top-nav-text">
                                        SALI KAPALI -     DIGER GUNLER   /     <a href="/services/hair-cut-hairdryer/">8.00 - 21.00</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
                <div class="header-maybe-limit-wrapper header-padding">
                    <div class="header-contents">
                        <div class="first-row">
                            <div class="logo-wrapper">
                                <div class="logo-tagline">
                                    <a href="home" class="logo " style="min-width:121px">
                                        <img src="~/Content/img/logo1.jpg" class="normal-logo" width="121" height="21" style="max-height: 30px;" />
                                        <img src="~/Content/img/logo.jpg" alt="" class="alternative-logo" width="121" height="21" style="max-height: 21px;" />
                                    </a>
                                </div>
                                <div class="mobile-logo-additions">

                                </div>
                            </div>
                        </div>
                        <div class="second-row has-search">
                            <div id="menus">
                                <nav id="main-menu">
                                    <a href="#content" title="Skip to content" class="visuallyhidden">Skip to content</a>
                                    <div id="mega-menu-wrap-menu-header" class="mega-menu-wrap">
                                        <div class="mega-menu-toggle" tabindex="0"><div class='mega-toggle-block mega-menu-toggle-block mega-toggle-block-right mega-toggle-block-1' id='mega-toggle-block-1'></div></div><ul id="mega-menu-menu-header" class="mega-menu mega-menu-horizontal mega-no-js" data-event="hover_intent" data-effect="slide" data-effect-speed="200" data-second-click="go" data-document-click="collapse" data-vertical-behaviour="accordion" data-breakpoint="900">
                                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-10207' id='mega-menu-item-10207'>
                                                <a class="mega-menu-link" href="home" aria-haspopup="true" tabindex="0">
                                                    ANASAYFA
                                                </a>
                                            </li>

                                            <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-9643' id='mega-menu-item-9643'>
                                                <a class="mega-menu-link" href="galeri" tabindex="0">
                                                    GALERI
                                                </a>
                                            </li>

                                            <li class='mega-menu-item mega-menu-item-type-custom mega-menu-item-object-custom mega-menu-item-has-children mega-align-bottom-left mega-menu-flyout mega-menu-item-10207' id='mega-menu-item-10207'>
                                                <a class="mega-menu-link" aria-haspopup="true" href="hizmetler" tabindex="0">
                                                    hizmetlerimiz
                                                </a>
                                            </li>
                                            <li class='mega-menu-item mega-menu-item-type-post_type mega-menu-item-object-page mega-align-bottom-left mega-menu-flyout mega-menu-item-10213' id='mega-menu-item-10213'>
                                                <a class="mega-menu-link" href="iletisim" tabindex="0">
                                                    ILETISIM
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                        </div>

                    </div>
                </div>
            </header>
        </div>


        @RenderBody()

        <div class="footer-wrapper">
            <footer class="main-footer wpv-hide-bg-lowres" style="background-color:#212529;background-image:none;">
                <div class="footer-sidebars-wrapper limit-wrapper">
                    <div id="footer-sidebars">
                        <div class="row">
                            <aside class="cell-1-3 fit" data-id="6">
                                <section id="text-15" class="widget widget_text">
                                    <h4 class="widget-title">SABIT NUMARAMIZ</h4> <div class="textwidget">
                                        <p>
                                            <i class="fa fa-phone"></i> <a href="tel:02163687817">0216 368 78 17 </a><br />Her turlu soru gorus ve oneriniz icin </br> cekinmeden arayiniz <br />
                                        </p>
                                    </div>
                                </section>
                            </aside>
                            <aside class="cell-1-3 fit" data-id="7">
                                <section id="text-21" class="widget widget_text">
                                    <h4 class="widget-title">CEP NUMARALARIMIZ</h4> <div class="textwidget">
                                        <p>
                                            Maltepe, ISTANBUL <br />
                                            <i class="fa fa-phone"></i> <a href="tel:05357716349">0535 771 63 49</a><br />
                                            <i class="fa fa-phone"></i>		<a href="tel:05357716349">0535 771 63 49</a>
                                            <br />
                                        </p>
                                    </div>
                                </section>
                            </aside>
                            <aside class="cell-1-3 fit" data-id="8">
                                <section id="text-22" class="widget widget_text">
                                    <h4 class="widget-title">SOSYAL MEDYA</h4> <div class="textwidget">
                                        <form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-10372" method="post" data-id="10372" data-name="Subscribe for news">
                                            <div class="mc4wp-form-fields">
                                                <a href="/#email-offers-form" style="display:none" class="wpv-animated-page-scroll" title=""></a>
                                                <div class="email-offers" id="email-offers-form">
                                                </div>
                                                <div style="display: none;"><input type="text" name="_mc4wp_honeypot" value="" tabindex="-1" autocomplete="off" /></div><input type="hidden" name="_mc4wp_timestamp" value="1480326282" /><input type="hidden" name="_mc4wp_form_id" value="10372" /><input type="hidden" name="_mc4wp_form_element_id" value="mc4wp-form-1" />
                                            </div><div class="mc4wp-response"></div>
                                        </form>
                                        <a href="#"><span class='icon shortcode  border use-hover' style='color:#b69e59;border-color:#b69e59;font-size:18px !important;'><i class="fa fa-facebook"></i></span></a>  <a href="#"><span class='icon shortcode theme border use-hover' style='color:#b69e59;border-color:#b69e59;font-size:18px !important;'><i class="fa fa-instagram"></i></span></a>
                                    </div>
                                </section>
                            </aside>
                        </div>
                    </div>
                </div>
            </footer>
            <div class="wpv-subfooter copyrights wpv-hide-bg-lowres" style="background-color:#ffffff;background-image:none;">
                <div class="">
                    <div class="row">
                        <div class="wpv-grid grid-1-3">© 2016 <a href="#">Cimbiz Kuafor Guzellik Salonu</a> by <a href="https://erdalugur.com" target="_blank">ugur erdal</a></div>
                        <div class="wpv-grid grid-1-3 textcenter"></div>
                        <div class="wpv-grid grid-1-3 textright">Site tasarim programlama <a href="https://erdalugur.com/" target="">UGURERDAL</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="wpv-overlay-search">
        <button id="wpv-overlay-search-close"><span class='icon shortcode theme  use-hover' style=''>&#59648;</span></button>
        <form action="https://hair-beauty.vamtam.com/" class="searchform" method="get" role="search" novalidate="">
            <input type="search" required="required" placeholder="Search..." name="s" value="" />
        </form>
    </div>
    <script>WPV_HIDDEN_WIDGETS = ["text-18", "text-13", "text-20", "text-24"];</script>
    <script type="text/javascript">
        (function () {
            function addEventListener(element, event, handler) {
                if (element.addEventListener) {
                    element.addEventListener(event, handler, false);
                } else if (element.attachEvent) {
                    element.attachEvent('on' + event, handler);
                }
            } function maybePrefixUrlField() {
                if (this.value.trim() !== '' && this.value.indexOf('http') !== 0) {
                    this.value = "http://" + this.value;
                }
            }

            var urlFields = document.querySelectorAll('.mc4wp-form input[type="url"]');
            if (urlFields && urlFields.length > 0) {
                for (var j = 0; j < urlFields.length; j++) {
                    addEventListener(urlFields[j], 'blur', maybePrefixUrlField);
                }
            }/* test if browser supports date fields */
            var testInput = document.createElement('input');
            testInput.setAttribute('type', 'date');
            if (testInput.type !== 'date') {

                /* add placeholder & pattern to all date fields */
                var dateFields = document.querySelectorAll('.mc4wp-form input[type="date"]');
                for (var i = 0; i < dateFields.length; i++) {
                    if (!dateFields[i].placeholder) {
                        dateFields[i].placeholder = 'YYYY-MM-DD';
                    }
                    if (!dateFields[i].pattern) {
                        dateFields[i].pattern = '[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])';
                    }
                }
            }

        })();</script>
    <script type="text/javascript">
        function revslider_showDoubleJqueryError(sliderID) {
            var errorMessage = "Revolution Slider Error: You have some jquery.js library include that comes after the revolution files js include.";
            errorMessage += "<br> This includes make eliminates the revolution slider libraries, and make it not work.";
            errorMessage += "<br><br> To fix it you can:<br>&nbsp;&nbsp;&nbsp; 1. In the Slider Settings -> Troubleshooting set option:  <strong><b>Put JS Includes To Body</b></strong> option to true.";
            errorMessage += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jquery.js include and remove it.";
            errorMessage = "<span style='font-size:16px;color:#BC0C06;'>" + errorMessage + "</span>";
            jQuery(sliderID).show().html(errorMessage);
        }
    </script>



    <script src="~/Content/js/tools.js"></script>
    <script src="~/Content/js/revolution.js"></script>


    <script type='text/javascript' src='//hair-beauty.vamtam.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js'></script>
    <script type='text/javascript' src='//hair-beauty.vamtam.com/wp-content/plugins/woocommerce/assets/js/jquery-cookie/jquery.cookie.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/jquery/ui/effect.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/jquery/ui/widget.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-includes/js/underscore.min.js'></script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/vamtam/assets/js/plugins/thirdparty/jquery.matchheight.min.js'></script>
    <script type='text/javascript'>
        /* <![CDATA[ */
        var WPV_FRONT = { "content_width": "1140", "ajaxurl": "https:\/\/hair-beauty.vamtam.com\/wp-admin\/admin-ajax.php", "jspath": "https:\/\/hair-beauty.vamtam.com\/wp-content\/themes\/hair-beauty\/vamtam\/assets\/js\/" };
        /* ]]> */
    </script>
    <script type='text/javascript' src='https://hair-beauty.vamtam.com/wp-content/themes/hair-beauty/vamtam/assets/js/all.min.js'></script>


    <script src="~/Content/js/cubepro.min.js"></script>


    <script>
        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = ".tp-caption.Clean-Title-Slide-100px,.Clean-Title-Slide-100px{color:rgba(30,32,34,1.00);font-size:100px;line-height:120px;font-weight:400;font-style:normal;font-family:Playfair Display;padding:0px 0px 0px 0px;text-decoration:none;text-align:left;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0px 0px 0px 0px;text-shadow:none}.tp-caption.Vamtam-Title-150px,.Vamtam-Title-150px{color:rgba(255,255,255,1.00);font-size:160px;line-height:140px;font-weight:400;font-style:normal;font-family:Playfair Display;padding:0px 0px 0px 0px;text-decoration:none;text-align:left;background-color:transparent;border-color:transparent;border-style:none;border-width:0px;border-radius:0px 0px 0px 0px}";
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement("div");
            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>
    <script type="text/javascript">
        var setREVStartSize = function () {
            try {
                var e = new Object, i = jQuery(window).width(), t = 9999, r = 0, n = 0, l = 0, f = 0, s = 0, h = 0;
                e.c = jQuery('#rev_slider_34_1');
                e.gridwidth = [1140];
                e.gridheight = [500];

                e.sliderLayout = "auto";
                if (e.responsiveLevels && (jQuery.each(e.responsiveLevels, function (e, f) { f > i && (t = r = f, l = e), i > f && f > r && (r = f, n = e) }), t > r && (l = n)), f = e.gridheight[l] || e.gridheight[0] || e.gridheight, s = e.gridwidth[l] || e.gridwidth[0] || e.gridwidth, h = i / s, h = h > 1 ? 1 : h, f = Math.round(h * f), "fullscreen" == e.sliderLayout) { var u = (e.c.width(), jQuery(window).height()); if (void 0 != e.fullScreenOffsetContainer) { var c = e.fullScreenOffsetContainer.split(","); if (c) jQuery.each(c, function (e, i) { u = jQuery(i).length > 0 ? u - jQuery(i).outerHeight(!0) : u }), e.fullScreenOffset.split("%").length > 1 && void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 ? u -= jQuery(window).height() * parseInt(e.fullScreenOffset, 0) / 100 : void 0 != e.fullScreenOffset && e.fullScreenOffset.length > 0 && (u -= parseInt(e.fullScreenOffset, 0)) } f = u } else void 0 != e.minHeight && f < e.minHeight && (f = e.minHeight); e.c.closest(".rev_slider_wrapper").css({ height: f })

            } catch (d) { console.log("Failure at Presize of Slider:" + d) }
        };

        setREVStartSize();

        var tpj = jQuery;

        var revapi34;
        tpj(document).ready(function () {
            if (tpj("#rev_slider_34_1").revolution == undefined) {
                revslider_showDoubleJqueryError("#rev_slider_34_1");
            } else {
                revapi34 = tpj("#rev_slider_34_1").show().revolution({
                    sliderType: "standard",
                    jsFileLocation: "//hair-beauty.vamtam.com/wp-content/plugins/revslider/public/assets/js/",
                    sliderLayout: "auto",
                    dottedOverlay: "none",
                    delay: 9000,
                    navigation: {
                        keyboardNavigation: "on",
                        keyboard_direction: "horizontal",
                        mouseScrollNavigation: "on",
                        mouseScrollReverse: "default",
                        onHoverStop: "on",
                        touch: {
                            touchenabled: "on",
                            swipe_threshold: 75,
                            swipe_min_touches: 50,
                            swipe_direction: "horizontal",
                            drag_block_vertical: false
                        }
                        ,
                        arrows: {
                            style: "hesperiden",
                            enable: true,
                            hide_onmobile: false,
                            hide_onleave: true,
                            hide_delay: 200,
                            hide_delay_mobile: 1200,
                            tmp: '',
                            left: {
                                h_align: "left",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            },
                            right: {
                                h_align: "right",
                                v_align: "center",
                                h_offset: 20,
                                v_offset: 0
                            }
                        }
                    },
                    visibilityLevels: [1240, 1024, 778, 480],
                    gridwidth: 1140,
                    gridheight: 500,
                    lazyType: "none",
                    shadow: 0,
                    spinner: "spinner2",
                    stopLoop: "on",
                    stopAfterLoops: 1,
                    stopAtSlide: 1,
                    shuffle: "off",
                    autoHeight: "off",
                    disableProgressBar: "on",
                    hideThumbsOnMobile: "off",
                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    debugMode: false,
                    fallbacks: {
                        simplifyAll: "off",
                        nextSlideOnWindowFocus: "off",
                        disableFocusListener: false,
                    }
                });
            }
        });	/*ready*/
    </script>


    <div id="scroll-to-top" class="icon"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>

</body>

</html>
