@{
    ViewBag.Title = "Cimbiz 2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="boxed-layout">
    <div class="pane-wrapper clearfix">
        <header class="header-middle row type-slider">
            <div id="header-slider-container" class="revslider">
                <div class="header-slider-wrapper">
                    <link href="https://fonts.googleapis.com/css?family=Playfair+Display%3A400" rel="stylesheet" property="stylesheet" type="text/css" media="all" /><link href="https://fonts.googleapis.com/css?family=Lato%3A300%2C400" rel="stylesheet" property="stylesheet" type="text/css" media="all" />
                    <div id="rev_slider_34_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">

                        <div id="rev_slider_34_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.2.6">
                            <ul>
                                <li data-index="rs-111" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="100" data-thumb="" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">

                                    <img src="https://hair-beauty.vamtam.com/wp-content/plugins/revslider/admin/assets/images/transparent.png" style='background-color:#049fcf' alt="" title="slider-2-2" width="1500" height="700" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>


                                    <div class="tp-caption   tp-resizeme" id="slide-111-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-transform_idle="o:1;" data-transform_in="opacity:0;s:500;e:Power4.easeInOut;" data-transform_out="opacity:0;s:300;" data-start="440" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 5;text-transform:left;"><img src="https://hair-beauty.vamtam.com/wp-content/uploads/2016/01/slider-2-3.jpg" alt="" width="747" height="500" data-ww="747px" data-hh="500px" data-no-retina> </div>

                                    <div class="tp-caption Vamtam-Title-150px   tp-resizeme" id="slide-111-layer-2" data-x="-6" data-y="157" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 6; white-space: nowrap; font-size: 150px;text-transform:left;">Cımbız </div>

                                    <div class="tp-caption Vamtam-Title-150px   tp-resizeme" id="slide-111-layer-3" data-x="188" data-y="270" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 7; white-space: nowrap; font-size: 150px;text-transform:left;">Salon </div>

                                    <div class="tp-caption Vamtam-Title-150px   tp-resizeme" id="slide-111-layer-4" data-x="703" data-y="203" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;s:2000;e:Power2.easeInOut;" data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:[100%];s:inherit;e:inherit;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; font-size: 150px;text-transform:left;"><i class="fa fa-hand-peace-o" aria-hidden="true"></i></div>
                                                                       <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-111-layer-5" data-x="841" data-y="418" data-width="['20']" data-height="['20']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:500;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="2120" data-responsive_offset="on" style="z-index: 9;text-transform:left;background-color:rgba(225, 206, 201, 1.00);border-color:rgba(0, 0, 0, 0);border-radius:20px 20px 20px 20px;"> </div>		                             
  		  
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-111-layer-7" data-x="936" data-y="300" data-width="['25']" data-height="['25']" data-transform_idle="o:1;" data-transform_in="y:bottom;s:600;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="1900" data-responsive_offset="on" style="z-index: 10;text-transform:left;background-color:rgba(255, 141, 165, 1.00);border-color:rgba(0, 0, 0, 0);border-radius:20px 20px 20px 20px;">		
                                         <div class="rs-looped rs-wave" data-speed="6" data-angle="0" data-radius="10" data-origin="40% 40%"> </div>		
                                     </div>		 	
                                   <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-111-layer-8" data-x="983" data-y="266" data-width="['20']" data-height="['20']" data-transform_idle="o:1;" data-transform_in="y:bottom;s:600;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="2000" data-responsive_offset="on" style="z-index: 11;text-transform:left;background-color:rgba(197, 159, 144, 1.00);border-color:rgba(0, 0, 0, 0);border-radius:20px 20px 20px 20px;"> </div>		
 	
                                   <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-111-layer-9" data-x="893" data-y="206" data-width="['20']" data-height="['20']" data-transform_idle="o:1;" data-transform_in="y:bottom;s:600;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="1630" data-responsive_offset="on" style="z-index: 12;text-transform:left;background-color:rgba(233, 78, 55, 1.00);border-color:rgba(0, 0, 0, 0);border-radius:20px 20px 20px 20px;"> </div>		
 		
                                    <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-111-layer-11" data-x="937" data-y="158" data-width="['20']" data-height="['20']" data-transform_idle="o:1;" data-transform_in="y:bottom;s:600;e:Back.easeOut;" data-transform_out="opacity:0;s:300;" data-start="1830" data-responsive_offset="on" style="z-index: 13;text-transform:left;background-color:rgba(23, 102, 192, 1.00);border-color:rgba(0, 0, 0, 0);border-radius:20px 20px 20px 20px;">		
                                         <div class="rs-looped rs-pendulum" data-easing="linearEaseNone" data-startdeg="-20" data-enddeg="40" data-speed="3" data-origin="100% 30%"> </div>		
                                     </div>		
 		
                                     <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme" id="slide-111-layer-12" data-x="812" data-y="270" data-width="['20']" data-height="['20']" data-transform_idle="o:1;" data-transform_in="y:[100%];z:0;rZ:-35deg;sX:1;sY:1;skX:0;skY:0;s:880;e:Power4.easeInOut;" data-transform_out="opacity:0;s:300;" data-mask_in="x:0px;y:0px;" data-start="1050" data-responsive_offset="on" data-elementdelay="0.05" style="z-index: 14;text-transform:left;background-color:rgba(131, 205, 255, 1.00);border-color:rgba(0, 0, 0, 0);border-radius:20px 20px 20px 20px;">		
                                       <div class="rs-looped rs-pendulum" data-easing="linearEaseNone" data-startdeg="-20" data-enddeg="20" data-speed="2" data-origin="100% 100%"> </div>		
                                     </div>
                             

                                </li>



                            </ul>

                            <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
                        </div>
           
        
                    </div>
                </div>
            </div>
        </header>
        <header class="header-middle header-middle-bottom row normal type-featured" style="min-height:0px">
            <div class="limit-wrapper">
                <div class="header-middle-content">
                </div>
            </div>
        </header>
        <div id="main-content">
            <div id="main" role="main" class="wpv-main layout-full  ">
                <div class="row page-wrapper">
                    <article id="post-10332" class="full post-10332 page type-page status-publish hentry">
                        <div class="page-content">
                            <div class="push " style="margin-bottom:-60px"></div>
                            <div class="limit-wrapper">
                                <div class="row ">
                                    <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first wpv-hide-bg-lowres has-background unextended no-extended-padding" style="
                                         background url( &#039;https//hair-beauty.vamtam.com/wp-content/uploads/2016/03/bg_intro-home.svg&#039; ) no-repeat center top;
                                    background-size: auto;
                                    background-attachment: scroll;padding-top:50px;padding-bottom:50px;" id="wpv-column-390b77828b377036b8bf3d850dca2128"> <h2 class="text-divider-double">
                                        CIMBIZ 2
                                    </h2>
                                    <div class="sep"></div>
                                    <div class="push " style="height:20px"></div>
                                    <div class="row ">
                                        <div class="wpv-grid grid-1-1  grid-1-1 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-0dcb3bd1fbba0756b6e92db11e725f8c">
                                            <h4 style="text-align: center;">
                                                “Deneyimli kadromuz ile her gecen gun bir yenilige imzamizi atiyoruz, </br> Modayi sizin icin takip ediyoruz<br />
                                                Biz is degil..<br /> Sanat yapiyoruz...”
                                            </h4>
                                            <p style="text-align: center;">Kubra Gun & Volkan Yavuz</p>
                                        </div>

                                        <br />
                                        <p style="text-align: center;">


                                        </p>
                                    </div>
                             
                                </div>
                            </div>
                        </div>
                        <div class="limit-wrapper">

                            <div class="row ">
                                <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first wpv-hide-bg-lowres has-background unextended no-extended-padding" >

                                   
                                    <h2 class="text-divider-double">
                                        <a href="#hizmetlerimiz"> Hizmetlerimiz</a>

                                    </h2> <div class="sep"></div>
                                    <div class="push  wpv-hide-lowres" style="height:10px"></div>

                                    <div class="row ">
                                        <div class="wpv-grid grid-1-5  grid-1-5 lowres-width-override lowres-grid-1-2 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-ce8ca5edfe53986992b2319147bd679b">
                                            <div class="services clearfix no-image has-icon has-button align-center " style="text-align:center;">
                                                <div class="services-inside">
                                                    <div class="thumbnail">
                                                        <a href="/services/hair-cut-hairdryer/" title="Haircut" class="">
                                                            <span class='icon shortcode theme  use-hover' style='color:#b69e59;font-size:70px !important;'><img src="Content/img/makas.png" height="80" width="80"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sep-2"></div>
                                                    <h3 class="services-title">
                                                        <a href="/services/hair-cut-hairdryer/" title="sackesim">Sac Kesim</a>
                                                    </h3>
                                                    <div class="services-content">
                                                        <p class="p1">Dusundugunuz bir modelmi var ?</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpv-grid grid-1-5  grid-1-5 lowres-width-override lowres-grid-1-2 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-8eeaf32f43b90d31bc7c1aaa6361257a">
                                            <div class="services clearfix no-image has-icon has-button align-center " style="text-align:center;">
                                                <div class="services-inside">
                                                    <div class="thumbnail">
                                                        <a href="/services/hair-cut-hairdryer/" title="Hairdryer" class="">
                                                            <span class='icon shortcode theme  use-hover' style='color:#b69e59;font-size:70px !important;'><img src="Content/img/fon.png" height="80" width="80"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sep-2"></div>
                                                    <h3 class="services-title">
                                                        <a href="/services/hair-cut-hairdryer/" title="Hairdryer">Fön</a>
                                                    </h3>
                                                    <div class="services-content">
                                                        <p class="p1">Sacinizi gostermenin en guzel yolu</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpv-grid grid-1-5  grid-1-5 lowres-width-override lowres-grid-1-2 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-438f47fa76bae98c7d2d0a1153248451">
                                            <div class="services clearfix no-image has-icon has-button align-center " style="text-align:center;">
                                                <div class="services-inside">
                                                    <div class="thumbnail">
                                                        <a href="/services/hair-cut-hairdryer/" title="Hairstyle" class="">
                                                            <span class='icon shortcode theme  use-hover' style='color:#b69e59;font-size:70px !important;'><img src="Content/img/makyaj.png" height="80" width="80"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sep-2"></div>
                                                    <h3 class="services-title">
                                                        <a href="/services/hair-cut-hairdryer/" title="Hairstyle">Boya</a>
                                                    </h3>
                                                    <div class="services-content">
                                                        <p class="p1">Yaratici sac renkleri..</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpv-grid grid-1-5  grid-1-5 lowres-width-override lowres-grid-1-2 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-1117e4caa4e547a5688e54819b2543db">
                                            <div class="services clearfix no-image has-icon has-button align-center " style="text-align:center;">
                                                <div class="services-inside">
                                                    <div class="thumbnail">
                                                        <a href="/services/hair-cut-hairdryer/" title="Coloring" class="">
                                                            <span class='icon shortcode theme  use-hover' style='color:#b69e59;font-size:70px !important;'><img src="Content/img/sac.png" height="80" width="80"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sep-2"></div>
                                                    <h3 class="services-title">
                                                        <a href="/services/hair-cut-hairdryer/" title="Coloring">Makyaj</a>
                                                    </h3>
                                                    <div class="services-content">
                                                        <p class="p1">Guzelliginiz tuvalimizdir</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wpv-grid grid-1-5  grid-1-5 lowres-width-override lowres-grid-1-2 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-7316bd1573377ebfb6d07baf217ddfb4">
                                            <div class="services clearfix no-image has-icon has-button align-center " style="text-align:center;">
                                                <div class="services-inside">
                                                    <div class="thumbnail">
                                                        <a href="/home-layouts/home-barber/" title="Shaving" class="">
                                                            <span class='icon shortcode theme  use-hover' style='color:#b69e59;font-size:70px !important;'><img src="Content/img/cocuk.png" height="80" width="80"></span>
                                                        </a>
                                                    </div>
                                                    <div class="sep-2"></div>
                                                    <h3 class="services-title">
                                                        <a href="/home-layouts/home-barber/" title="Shaving">Ve dahasi..</a>
                                                    </h3>
                                                    <div class="services-content">
                                                        <p class="p1">Agda, kas konturu, perma, balyaj, rofle, topuz...</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="push  wpv-hide-lowres" style="height:70px"></div>
                                </div>
                            </div>

                        </div>
                        <div class="limit-wrapper">
                            <h2 class="text-divider-double">
                                Islerimiz
                            </h2> <div class="sep"></div>
                        </div>
                        <div class="row ">
                            <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first extended-content unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:30px;" id="wpv-column-5217d743090cdf94f3c9683dbb4660c5">
                                <div class="extended-column-inner">
                                    <div class="row ">
                                        <div class="wpv-grid grid-1-1  grid-1-1 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-5b960b7623b13f98e56396e462c6c0e5">
                                            <section class="portfolios normal clearfix title-below has-description " id="583bfc8aa1f4e">
                                                <nav class="portfolio-filters clearfix" data-for="#583bfc8aa1f4e">
                                                    <div class="cbp-l-filters-alignCenter cbp-l-filters-dropdown" id="583bfc8aa1f4e-filters">
                                                        <div class="cbp-l-filters-dropdownWrap">
                                                            <div class="cbp-l-filters-dropdownHeader">All</div>
                                                            <div class="cbp-l-filters-dropdownList">
                                                                <span class="inner-wrapper">
                                                                    <span data-filter="*" class="cbp-filter-item-active cbp-filter-item">Tumu <span class="cbp-filter-counter"></span></span>
                                                                    <span data-filter="[data-type~=&quot;gallery&quot;]" class="cbp-filter-item"><span data-text="gallery">galeri <span class="cbp-filter-counter"></span></span></span>
                                                                    <span data-filter="[data-type~=&quot;images&quot;]" class="cbp-filter-item"><span data-text="images">images <span class="cbp-filter-counter"></span></span></span>
                                                                    <span data-filter="[data-type~=&quot;link&quot;]" class="cbp-filter-item"><span data-text="link">link <span class="cbp-filter-counter"></span></span></span>
                                                                    <span data-filter="[data-type~=&quot;videos&quot;]" class="cbp-filter-item"><span data-text="video">video <span class="cbp-filter-counter"></span></span></span>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </nav>
                                                <div class="portfolio-items vamtam-cubeportfolio cbp portfolio-items" data-columns="4" data-options="{&quot;layoutMode&quot;:&quot;grid&quot;,&quot;defaultFilter&quot;:&quot;*&quot;,&quot;animationType&quot;:&quot;slideDelay&quot;,&quot;gapHorizontal&quot;:0,&quot;gapVertical&quot;:0,&quot;gridAdjustment&quot;:&quot;responsive&quot;,&quot;mediaQueries&quot;:[{&quot;width&quot;:1140,&quot;cols&quot;:4},{&quot;width&quot;:855,&quot;cols&quot;:3},{&quot;width&quot;:570,&quot;cols&quot;:2},{&quot;width&quot;:285,&quot;cols&quot;:1}],&quot;displayType&quot;:&quot;bottomToTop&quot;,&quot;displayTypeSpeed&quot;:100,&quot;filters&quot;:&quot;#583bfc8aa1f4e-filters&quot;}" data-hidden-by-filters="New items were loaded, but they are hidden because of your choice of filters">
                                                    <div data-id="5327" data-type="videos" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">

                                                            <div class="portfolio-image">
                                                                <div class="thumbnail">
                                                                    <a href="https://hair-beauty.vamtam.com/portfolio/self-portrait/" class="meta " target="_self">
                                                                        <img width="232" height="178" src="https://hair-beauty.vamtam.com/wp-content/uploads/2013/07/video-3-232x178.jpg" class="attachment-theme-loop-4 size-theme-loop-4 wp-post-image" alt="video-3" srcset="https://hair-beauty.vamtam.com/wp-content/uploads/2013/07/video-3-232x178.jpg 232w, https://hair-beauty.vamtam.com/wp-content/uploads/2013/07/video-3-800x615.jpg 800w, https://hair-beauty.vamtam.com/wp-content/uploads/2013/07/video-3-495x380.jpg 495w, https://hair-beauty.vamtam.com/wp-content/uploads/2013/07/video-3-320x246.jpg 320w, https://hair-beauty.vamtam.com/wp-content/uploads/2013/07/video-3-640x492.jpg 640w, https://hair-beauty.vamtam.com/wp-content/uploads/2013/07/video-3-465x357.jpg 465w" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="325" data-type="images" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">
                                                            <div class="portfolio_details">
                                                                <span>
                                                                    <h3 class="title">
                                                                        <a href="https://hair-beauty.vamtam.com/portfolio/coloring/" class="project-title " target="_self">Coloring</a>
                                                                    </h3>
                                                                    <div class="excerpt">
                                                                        <p>Mirum est notare quam littera gothica, quam nunc.</p>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="portfolio-image">
                                                                <div class="thumbnail">
                                                                    <a href="https://hair-beauty.vamtam.com/portfolio/coloring/" class="meta " target="_self">
                                                                        <img width="232" height="178" src="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-3-232x178.jpg" class="attachment-theme-loop-4 size-theme-loop-4 wp-post-image" alt="portfolio-3" srcset="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-3-232x178.jpg 232w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-3-800x615.jpg 800w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-3-495x380.jpg 495w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-3-320x246.jpg 320w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-3-640x492.jpg 640w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-3-465x357.jpg 465w" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="9898" data-type="images" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">
                                                            <div class="portfolio_details">
                                                                <span>
                                                                    <h3 class="title">
                                                                        <a href="https://hair-beauty.vamtam.com/portfolio/studio-shooting/" class="project-title " target="_self">Studio shooting</a>
                                                                    </h3>
                                                                    <div class="excerpt">
                                                                        <p>Mirum est notare quam littera gothica, quam nunc.</p>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="portfolio-image">
                                                                <div class="thumbnail">
                                                                    <a href="https://hair-beauty.vamtam.com/portfolio/studio-shooting/" class="meta " target="_self">
                                                                        <img width="232" height="178" src="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-4-232x178.jpg" class="attachment-theme-loop-4 size-theme-loop-4 wp-post-image" alt="portfolio-4" srcset="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-4-232x178.jpg 232w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-4-800x615.jpg 800w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-4-495x380.jpg 495w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-4-320x246.jpg 320w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-4-640x492.jpg 640w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-4-465x357.jpg 465w" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="320" data-type="link" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">
                                                            <div class="portfolio_details">
                                                                <span>
                                                                    <h3 class="title">
                                                                        <a href="https://hair-beauty.vamtam.com/portfolio/party-mood/" class="project-title " target="_self">Party mood</a>
                                                                    </h3>
                                                                    <div class="excerpt">
                                                                        <p>Mirum est notare quam littera gothica, quam nunc.</p>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="portfolio-image">
                                                                <div class="thumbnail">
                                                                    <a href="https://hair-beauty.vamtam.com/portfolio/party-mood/" class="meta " target="_self">
                                                                        <img width="232" height="178" src="https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-232x178.jpg" class="attachment-theme-loop-4 size-theme-loop-4 wp-post-image" alt="portfolio-6" srcset="https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-232x178.jpg 232w, https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-800x615.jpg 800w, https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-495x380.jpg 495w, https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-990x761.jpg 990w, https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-320x246.jpg 320w, https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-640x492.jpg 640w, https://hair-beauty.vamtam.com/wp-content/uploads/2014/01/portfolio-6-465x357.jpg 465w" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="322" data-type="link" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">
                                                            <div class="portfolio_details">
                                                                <span>
                                                                    <h3 class="title">
                                                                        <a href="https://hair-beauty.vamtam.com/portfolio/wedding-day/" class="project-title " target="_self">Wedding day</a>
                                                                    </h3>
                                                                    <div class="excerpt">
                                                                        <p>Mirum est notare quam littera gothica, quam nunc.</p>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="portfolio-image">
                                                                <div class="thumbnail">
                                                                    <a href="https://hair-beauty.vamtam.com/portfolio/wedding-day/" class="meta " target="_self">
                                                                        <img width="232" height="178" src="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-4.1-232x178.jpg" class="attachment-theme-loop-4 size-theme-loop-4 wp-post-image" alt="blog-4.1" srcset="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-4.1-232x178.jpg 232w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-4.1-800x615.jpg 800w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-4.1-495x380.jpg 495w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-4.1-320x246.jpg 320w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-4.1-640x492.jpg 640w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-4.1-465x357.jpg 465w" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="315" data-type="link" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">
                                                            <div class="portfolio_details">
                                                                <span>
                                                                    <h3 class="title">
                                                                        <a href="https://hair-beauty.vamtam.com/portfolio/childrens-hairstyles/" class="project-title " target="_self">Children&#8217;s hairstyles</a>
                                                                    </h3>
                                                                    <div class="excerpt">
                                                                        <p>Mirum est notare quam littera gothica, quam nunc.</p>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="portfolio-image">
                                                                <div class="thumbnail">
                                                                    <a href="https://hair-beauty.vamtam.com/portfolio/childrens-hairstyles/" class="meta " target="_self">
                                                                        <img width="232" height="178" src="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-6-232x178.jpg" class="attachment-theme-loop-4 size-theme-loop-4 wp-post-image" alt="blog-6" srcset="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-6-232x178.jpg 232w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-6-800x615.jpg 800w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-6-495x380.jpg 495w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-6-320x246.jpg 320w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-6-640x492.jpg 640w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/blog-6-465x357.jpg 465w" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="319" data-type="images" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">
                                                            <div class="portfolio_details">
                                                                <span>
                                                                    <h3 class="title">
                                                                        <a href="https://hair-beauty.vamtam.com/portfolio/makeup-and-lighting/" class="project-title " target="_self">Makeup and lighting</a>
                                                                    </h3>
                                                                    <div class="excerpt">
                                                                        <p>Mirum est notare quam littera gothica, quam nunc.</p>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="portfolio-image">
                                                                <div class="thumbnail">
                                                                    <a href="https://hair-beauty.vamtam.com/portfolio/makeup-and-lighting/" class="meta " target="_self">
                                                                        <img width="232" height="178" src="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-2.1-232x178.jpg" class="attachment-theme-loop-4 size-theme-loop-4 wp-post-image" alt="portfolio-2.1" srcset="https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-2.1-232x178.jpg 232w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-2.1-800x615.jpg 800w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-2.1-495x380.jpg 495w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-2.1-320x246.jpg 320w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-2.1-640x492.jpg 640w, https://hair-beauty.vamtam.com/wp-content/uploads/2015/02/portfolio-2.1-465x357.jpg 465w" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                    </a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div data-id="318" data-type="gallery" class="has-title has-description state-closed vamtam-project cbp-item" style="width: 25%">
                                                        <div class="portfolio-item-wrapper">
                                                            <div class="portfolio_details">
                                                                <span>
                                                                    <h3 class="title">
                                                                        <a href="https://hair-beauty.vamtam.com/portfolio/theatre-hairstyles/" class="project-title " target="_self">Theatre hairstyles</a>
                                                                    </h3>
                                                                    <div class="excerpt">
                                                                        <p>Mirum est notare quam littera gothica, quam nunc.</p>
                                                                    </div>
                                                                </span>
                                                            </div>
                                                            <div class="portfolio-image">


                                                            </div>
                                                        </div>

                                                        <div class="push  wpv-hide-lowres" style="height:30px"></div>
                                                    </div>
                                                </div>
                                                <div class="push  wpv-hide-lowres" style="height:20px"></div>

                                                <div class="limit-wrapper">
                                                    <h2 class="text-divider-double">
                                                        Neden biz ?
                                                    </h2> <div class="sep"></div>
                                                </div>
                                                <div class="push  wpv-hide-lowres" style="height:30px"></div>
                                                <div class="push " style="height:30px"></div>
                                                <div class="limit-wrapper">
                                                    <div class="row ">
                                                        <div class="wpv-grid grid-1-2  wpv-first-level grid-1-2 first wpv-hide-bg-lowres has-background unextended no-extended-padding" style="
                                                             background: url( Content/img/pointtirnak.jpg ) no-repeat right bottom;
                                                        background-size: cover;
                                                        background-attachment: scroll;background-color:#0B1328;padding-top:20px;padding-bottom:45px;" id="wpv-column-731903c8b72940437234b1fbd3a5530d">
                                                        <style>
                                                            #wpv-column-731903c8b72940437234b1fbd3a5530d, #wpv-column-731903c8b72940437234b1fbd3a5530d p, #wpv-column-731903c8b72940437234b1fbd3a5530d em, #wpv-column-731903c8b72940437234b1fbd3a5530d h1, #wpv-column-731903c8b72940437234b1fbd3a5530d h2, #wpv-column-731903c8b72940437234b1fbd3a5530d h3, #wpv-column-731903c8b72940437234b1fbd3a5530d h4, #wpv-column-731903c8b72940437234b1fbd3a5530d h5, #wpv-column-731903c8b72940437234b1fbd3a5530d h6, #wpv-column-731903c8b72940437234b1fbd3a5530d h1 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h2 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h3 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h4 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h5 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h6 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d .column-title, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-text h2.regular-title-wrapper, #wpv-column-731903c8b72940437234b1fbd3a5530d .text-divider-double, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-text .sep-text-line, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-2, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-3, #wpv-column-731903c8b72940437234b1fbd3a5530d .portfolio-filters .inner-wrapper .cbp-filter-item, #wpv-column-731903c8b72940437234b1fbd3a5530d .portfolio-filters .inner-wrapper .cbp-filter-item:hover, #wpv-column-731903c8b72940437234b1fbd3a5530d .portfolio-filters .inner-wrapper .cbp-filter-item.cbp-filter-item-active, #wpv-column-731903c8b72940437234b1fbd3a5530d td, #wpv-column-731903c8b72940437234b1fbd3a5530d th, #wpv-column-731903c8b72940437234b1fbd3a5530d caption {
                                                                color: #e4e5e7;
                                                            }
                                                        </style><div class="row ">
                                                            <div class="wpv-grid grid-3-4  grid-3-4 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-febd1f5feb2ace3d7e7465b21a4fa507">
                                                                <h1>Manikur & Pedikur</h1>
                                                                <h4>
                                                                    Birbirinden ozgun tasarimlarimizla hizmetinizdeyiz<br />
                                                                    Kubra Gun
                                                                    <br />

                                                                </h4>
                                                                <div class="push " style="height:25px"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="wpv-grid grid-1-2  wpv-first-level grid-1-2 wpv-hide-bg-lowres has-background unextended no-extended-padding" style="
                                                         background: url( Content/img/banner_2.jpg ) no-repeat right bottom;
                                                    background-size: cover;
                                                    background-attachment: scroll;background-color:#0B1328;padding-top:20px;padding-bottom:45px;" id="wpv-column-731903c8b72940437234b1fbd3a5530d">
                                                    <style>
                                                        #wpv-column-731903c8b72940437234b1fbd3a5530d, #wpv-column-731903c8b72940437234b1fbd3a5530d p, #wpv-column-731903c8b72940437234b1fbd3a5530d em, #wpv-column-731903c8b72940437234b1fbd3a5530d h1, #wpv-column-731903c8b72940437234b1fbd3a5530d h2, #wpv-column-731903c8b72940437234b1fbd3a5530d h3, #wpv-column-731903c8b72940437234b1fbd3a5530d h4, #wpv-column-731903c8b72940437234b1fbd3a5530d h5, #wpv-column-731903c8b72940437234b1fbd3a5530d h6, #wpv-column-731903c8b72940437234b1fbd3a5530d h1 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h2 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h3 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h4 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h5 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d h6 a:not(:hover), #wpv-column-731903c8b72940437234b1fbd3a5530d .column-title, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-text h2.regular-title-wrapper, #wpv-column-731903c8b72940437234b1fbd3a5530d .text-divider-double, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-text .sep-text-line, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-2, #wpv-column-731903c8b72940437234b1fbd3a5530d .sep-3, #wpv-column-731903c8b72940437234b1fbd3a5530d .portfolio-filters .inner-wrapper .cbp-filter-item, #wpv-column-731903c8b72940437234b1fbd3a5530d .portfolio-filters .inner-wrapper .cbp-filter-item:hover, #wpv-column-731903c8b72940437234b1fbd3a5530d .portfolio-filters .inner-wrapper .cbp-filter-item.cbp-filter-item-active, #wpv-column-731903c8b72940437234b1fbd3a5530d td, #wpv-column-731903c8b72940437234b1fbd3a5530d th, #wpv-column-731903c8b72940437234b1fbd3a5530d caption {
                                                            color: #e4e5e7;
                                                        }
                                                    </style><div class="row ">
                                                        <div class="wpv-grid grid-3-4  grid-3-4 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-febd1f5feb2ace3d7e7465b21a4fa507">
                                                            <h1>Sac & Boya</h1>
                                                            <h4>
                                                                Bir birinden farkli sac tasarimi ve boya tasarimlarimiz icin <br />
                                                                yerimize bekleriz<br />
                                                                Volkan Yavuz...
                                                            </h4>
                                                            <div class="push " style="height:25px"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>

                                    <div class="row ">
                                        <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first wpv-hide-bg-lowres has-background extended no-extended-padding" id="wpv-column-49c9218e2f7420b4da4ac20099a185e0">
                                            <div class="limit-wrapper">
                                                <div class="extended-column-inner">
                                                    <div class="row ">
                                                        <div class="wpv-grid grid-1-2  grid-1-2 unextended animation-from-bottom animated-active no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-224f98bafb7d46e84eda55e8b5907a0a">
                                                            <div class="row ">

                                                            </div>
                                                        </div>

                                                        <div class="row ">
                                                            <div class="wpv-grid grid-1-4  grid-1-4 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-f4a73766ed5226695ce24dfc87facbd1">
                                                                <div class="team-member ">
                                                                    <div class="thumbnail">

                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-4  grid-1-4 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-346d6fea9282b1f3192f4020d0cf9ea7">
                                                                <div class="team-member ">
                                                                    <div class="thumbnail">
                                                                        <a href="/team/avie-beaton/" title="Avie Beaton">
                                                                            <img width="232" height="257" class="attachment-theme-normal-4 size-theme-normal-4" alt="people-6" srcset="Content/img/kubraprofil.jpg" sizes="(min-height: 900px) 50vw, 100vw" />
                                                                        </a>
                                                                        <div class="share-icons clearfix">
                                                                            <a href="/" title=""><span class='icon shortcode theme  use-hover' style=''><i class="fa fa-facebook"></i></span></a>
                                                                            <a href="/" title=""><span class='icon shortcode   use-hover' style=''><i class="fa fa-instagram"></i></span></a>

                                                                        </div>
                                                                    </div>
                                                                    <div class="team-member-info">
                                                                        <h3>
                                                                            <a href="/team/avie-beaton/" title="Avie Beaton">
                                                                                Kubra GUN
                                                                            </a>
                                                                        </h3>
                                                                        <h5 class="regular-title-wrapper team-member-position"> Manikur & pedikur </h5>
                                                                        <div class="team-member-phone"><a href="tel:05357716349" title="Call Avie Beaton">Tel: 0535 771 63 49</a></div>

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-4  grid-1-4 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-866b2b56611ca462f7f9999011239dc8">
                                                                <div class="team-member ">
                                                                    <div class="thumbnail">
                                                                        <a href="/team/ben-jonson" title="Ben Jonson">
                                                                            <img width="232" height="257" class="attachment-theme-normal-4 size-theme-normal-4" alt="people_2" srcset="Content/img/owner/volkanyavuz.jpg" sizes="(min-width: 900px) 50vw, 100vw" />
                                                                        </a>
                                                                        <div class="share-icons clearfix">
                                                                            <a href="/" title=""><span class='icon shortcode theme  use-hover' style=''><i class="fa fa-facebook"></i></span></a>
                                                                            <a href="/" title=""><span class='icon shortcode   use-hover' style=''><i class="fa fa-instagram"></i></span></a>

                                                                        </div>
                                                                    </div>
                                                                    <div class="team-member-info">
                                                                        <h3>
                                                                            <a href="/team/ben-jonson" title="Ben Jonson">
                                                                                Volkan YAVUZ
                                                                            </a>
                                                                        </h3>
                                                                        <h5 class="regular-title-wrapper team-member-position"> Sac Tasarim</h5>
                                                                        <div class="team-member-phone"><a href="tel:05320540753" title="Call Ben Jonson">Tel: 0532 054 07 53</a></div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="wpv-grid grid-1-4  grid-1-4 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-f7003aee646d96261ad7651c41b1b75f">
                                                                <div class="team-member ">


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="limit-wrapper">
                                            <div class="row ">
                                                <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="book-now">


                                                </div>
                                            </div>
                                        </div>

                                        <div class="row ">
                                            <div class="wpv-grid grid-1-1  wpv-first-level parallax-bg grid-1-1 first has-background extended no-extended-padding parallax-loaded" style="padding-top: 100px; padding-bottom: 100px;" id="wpv-column-96d9c0cc6b57a524132e8eb7e674ea72" data-parallax-method="to-centre" data-parallax-inertia="-0.2">
                                                <div class="wpv-parallax-bg-wrapper"><div class="wpv-parallax-bg-img" style="background-position: 50% 0%; background-image: url(Content/img/service/shop_bg_box2.jpg); background-color: rgb(254, 224, 216); background-size: auto; background-attachment: fixed; background-repeat: no-repeat; transform: matrix(1, 0, 0, 1, 0, -13.3583);"></div></div><div class="wpv-parallax-bg-content">
                                                    <div class="limit-wrapper">
                                                        <div class="extended-column-inner">
                                                            <div class="row ">
                                                                <div class="wpv-grid grid-2-5  grid-2-5 first unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-09656d63038d436ab88824f304cdeca0">
                                                                    <h1 style="text-align: center; font-size: 90px;">Kendınızı Sımartın</h1>
                                                                    <h4 style="text-align: center;">
                                                                        Makgozlerimiz sizleri bekliyor..<br>

                                                                    </h4>
                                                                </div>
                                                                <div class="wpv-grid grid-1-5  grid-1-5 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-0d446396c611e53f86d9f376119ee6aa"><p>&nbsp;</p></div>
                                                                <div class="wpv-grid grid-2-5  grid-2-5 unextended no-extended-padding" style="padding-top:0.05px;padding-bottom:0.05px;" id="wpv-column-2656fd0e377faee0af32478d5bd12199">
                                                                    <div class="push  wpv-hide-lowres" style="height:80px"></div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="row ">
                                    <div class="wpv-grid grid-1-1  wpv-first-level grid-1-1 first has-background extended-content unextended animation-fade-in animated-active no-extended-padding" style="background-color:#F6F6F6;padding-top:30px;padding-bottom:30px;" id="wpv-column-c1acd008eee1fc13216552412baf1f71">
                                        <div class="extended-column-inner">
                    
                                            <div class="push  wpv-hide-lowres" style="height:20px">
                                                <h4 style="text-align:center;">Baglarbasi Mah. Ataturk Cad. Hamit Kaplan Sk. No:2 D:4 (Bim ustu, Saglik ocagi yani)</h4>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d753.582331413285!2d29.134385829197022!3d40.9304490119188!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDDCsDU1JzQ5LjYiTiAyOcKwMDgnMDUuOCJF!5e0!3m2!1str!2str!4v1480518191560" width="100%" height="500px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </article>
                </div>
            </div>
        </div>
