@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section galeriscript
{
    <link rel="stylesheet" href="Content/dist/css/lightbox.min.css">
    <link rel="stylesheet" href="Content/css/hover.css">
    <script src="Content/dist/js/lightbox-plus-jquery.min.js"></script>
    <link rel="stylesheet" href="~/Content/css/galeri.css">
    <script src="~/Content/js/instagramapi.js"></script>
}
<div class="boxed-layout">
    <div class="pane-wrapper clearfix">
        <div id="main-content">
            <div id="main" role="main" class="wpv-main layout-full  ">
                <div class="row page-wrapper">
                    <article id="post-10332" class="full post-10332 page type-page status-publish hentry">
                        <div class="boxed-layout">
                            <div class="pane-wrapper clearfix">
                                <div id="main-content">
                                    <div class="wpv-main layout-full" id="main" role="main">
                                        <div class="container center insbtn row">
                                            <h3 class="text-divider-double">
                                                <a href="https://instagram.com/saloncmbz2" target="_blank">instagramda gor <i class="fa fa-instagram"></i></a>
                                            </h3>
                                        </div>
                                        <div class="row page-wrapper container">
                                            <div class="instagramapi center">
                                                <ul></ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
