@{
    ViewBag.Title = "Galeri";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- cdn leri duzenle!!  scriptleri layouta tasiyip render ver 
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->

<link rel="stylesheet" href="Content/dist/css/lightbox.min.css">
<link rel="stylesheet" href="Content/css/hover.css">
<script src="Content/dist/js/lightbox-plus-jquery.min.js"></script>
<link rel="stylesheet" href="~/Content/css/galeri.css">

<script>

    $(function () {
        $.ajax({
            type: "GET",
            dataType: "jsonp",
            cache: false,
            url: "https://api.instagram.com/v1/users/2965949423/media/recent/?access_token=2965949423.1677ed0.d04cfc1f2ae64390a23b3048910a55eb",
            success: function (data) {
                for (var i = 0; i < 50; i++) {
                    $(".instagramapi ul").append("<a data-lightbox='example-set' data-title='" + data.data[i].caption.text + "'  class='example-image-link hvr-grow-rotate' href='" + data.data[i].images.low_resolution.url + "'><img class='instimg ' src='" + data.data[i].images.low_resolution.url + "' alt='' /></a>");
                }
            }
        });
    });





</script>


<style>

</style>
<div class="boxed-layout">
    <div class="pane-wrapper clearfix">

        <div id="main-content">
            <div class="wpv-main layout-full" id="main" role="main">
                <div class="container center insbtn row">
                    <h3 class="text-divider-double">
                        <a href="https://instagram.com/saloncmbz2" target="_blank">instagramda gor <i class="fa fa-instagram"></i></a>


                    </h3>
                </div>
                <div class="row page-wrapper container">


                    <div class="instagramapi center">

                        <ul></ul>
                    </div>


                </div>

            </div>

        </div>

    </div>

</div>


